.blog{
  background-color: var(--Light-Grayish-Blue);
  padding: 5rem 0;
}

.blog-top h3{
  color: var(--Dark-Blue);
  font-size: 35px;
  font-weight: 400;
}

.row{
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.row .col{
  background-color: var(--White);
  border-radius: 5px;
  width: 265px;
}

.row .col img{
  width: 265px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.row .col .co{
  padding: 20px;
}

.row .col .co span{
  color: var(--Grayish-Blue);
  font-size: 13px;
}

.row .col .co h5{
  color: var(--Dark-Blue);
  font-size: 18px;
  font-weight: 400;
  padding: 13px 0;
}

.row .col .co p{
  color: var(--Grayish-Blue);
  font-size: 14px;
  line-height: 1.4;
}


@media (max-width:600px) {
  .row{
    flex-direction: column;
  }
}